@use "./MainStyles.scss" as *;

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Space Grotesk", sans-serif;
  background-color: $color-bg;
  h1,
  h2,
  h3 {
    font-weight: 700;
    letter-spacing: -0.03em;
  }
  h2 {
    color: $color-text-primary-light;
    font-size: 2.2rem;
    margin-bottom: 10px;
  }
  p {
    font-weight: 400;
    line-height: 1.7;
  }
}
